  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about {
    padding: 0;
    .box {   
      margin: 0; 
      img{
        width: 100%;
        max-height: 500px;
        object-fit: cover;
      }
      .box-img{
        padding: 0px;
      }
      .box-info{
        padding: 20px;
        h1{
          font-weight: bold;
        }
        h3{
          padding: 20px;
        }
        ul{
          font-size: 1.3em;
          li{
            padding: 20px 10px;
          }
        }
        @media (max-width: 678px) {
          h1{
            font-size: 1.3em;
          }
          h3{
            font-size: 1em;
          }
          ul{
            font-size: 1em;
            li{
              padding: 10px;
            }
          }
        }
      }
    }
    @mixin info {
      .box-background__info{
        color: #fff;
        max-width: 28%;
        padding: 20px;
        background-color: rgba(46, 35, 35, 0.74);
        text-align: center;
        h1{
          font-weight: bold;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        @media (max-width: 950px) {
          max-width: 58%;          
          h1{
            font-size: 95%;
          }
          h3{
            font-size: 95%;
          }
        }
        @media (max-width: 500px) {
          max-width: 80%;
          h1{
            font-size: 90%;
          }
          h3{
            font-size: 80%;
          }
        }
      } 
    }
    .box-background-mision {   
      margin: 0;  
      background: url("../img/nosotros/image2.jpg") no-repeat;
      background-size: 100%;  
      .mision{
        margin-right: auto;
        margin-left: 10%;
      }
      @include info();
    }
    .box-background-filosofia{
      margin: 0;
      background: url("../img/nosotros/image3.jpg") no-repeat;
      background-size: 100%;   
      .filosofia{
        margin-right: 10%;
        margin-left: auto;
      }
      @include info();
    }
  }
  