@import "componentes/globals";
@import "componentes/hero";
@import "componentes/nosotros";
@import "componentes/servicios";
@import "componentes/about";
@import "componentes/footer";
@import "componentes/tienda";
@import "componentes/navbar";
@import "componentes/artesanos";
@import "componentes/contactos";
@import "componentes/section";
@import "componentes/productos";
@import "componentes/filtros";
@import "componentes/modal";
  /*--------------------------------------------------------------
  # Distribuidores
  --------------------------------------------------------------*/
  
  .distribuidores{
    margin: 30px 10px;
    
  }
  .distribuidores .container-distribuidores{
    padding: 30px 20px;  
    border-bottom: solid black 1px;
    font-size: 90%;
  }
  .distribuidor-img img{
    width: 100%;
  }
  .distribuidor .distribuidor-info ul li{
    padding: 10px 0px;    
  }
  @media (max-width: 600px){
    .distribuidor .distribuidor-info ul{
      padding: 0px;
    }
    .distribuidor .distribuidor-info .info{
      padding-top: 0px;      
    }
  }
  /*--------------------------------------------------------------
  # Producto Page
  --------------------------------------------------------------*/
  .producto-page{
    margin-top: 40px;
  }
  .producto-page .producto-page-imagenes .row .carousel{  
    margin: auto;
  }
  .producto-page .producto-page-imagenes .carousel-control-prev-icon{
    background-image: url("../img/atras.png") ;
    width: 40px;
    height: 40px;
  }
  .producto-page .producto-page-imagenes .carousel-control-next-icon{
    background-image: url("../img/proximo.png") ;
    width: 40px;
    height: 40px;
  }
  .producto-page .producto-page-imagenes img{
    max-height: 500px !important;
    object-fit: cover;
  }
  .producto-page .producto-page-imagenes video{
    max-height: 500px !important;    
  }
  .producto-page .producto-page-imagenes .carousel-item{
    position: relative;  
  }
  .producto-page .producto-page-imagenes .img-zoom-lens{
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 100px;
    height: 100px;
  }
  .producto-page .producto-page-imagenes .image-zoom-result{
    border: 1px solid #d4d4d4;
    width: 100%;
    height: 100%;  
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1020;
    transform: translate(100%, 0px);
    transition: opacity ;
  }
  .producto-page .producto-page-imagenes .image-zoom-result-active{  
    opacity: 1;
    transition: opacity 1s;
  }
  .producto-page .producto-page-imagenes .image-zoom-result-inactive{  
    opacity: 0;
    transition: opacity 1s;
  }
  
  .producto-page .producto-page-info{
    padding: 10px 50px;
  }
  .producto-page .producto-page-info > *{
    margin-bottom: 20px;
  }
  .producto-page .producto-page-info *{
    font-weight: bold;
  }
  .producto-page-info .producto-descripcion{
    color: black;
    font-style: italic;
  }
  
  .producto-page-info .producto-colores{
    display: flex;
  }
  .producto-page-info .producto-colores .color{
    margin: 10px 15px;
    padding: 4px;
    border-radius: 50px;
    cursor: pointer;
  }
  .producto-page-info .producto-colores .color:hover{
    border: 1px solid rgb(92, 90, 90);
  }
  .producto-page-info .producto-colores #active{
    border: 1px solid black;
  }
  .producto-page-info .producto-colores .color *{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgb(179, 176, 176);
  }
  .producto-page-info .producto-colores .color .color-white{
    border: 1px solid black;
  }
  .producto-page-info .producto-tallas button{
    background-color: white;
    border: 2px solid black;
    padding: 8px;
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 80%;
  }
  .producto-page-info .producto-tallas button:hover{
    color: white;
    background-color: black;
  }
  .producto-page-info select {
    width: 80%;
    background: rgba(128, 128, 128, 0.116);
    border: none;
    border-bottom: 2px solid black;
    appearance: none;
  }
  .producto-page-info .add-cart{
    width: 50%;
    border: none;
    background-color: black;
    color: white;
    font-size: 120%;
    padding: 10px;
  }
  .producto-page-info .add-cart span:hover{
    border-bottom: 2px solid white;
  }
  
  @media (max-width: 767px) {
    .producto-page-imagenes .imagen-catalogo{
      display: none;
    }
  }

  
